{% extends 'layout/base.twig' %}

{% block title %}
    Edit user info
{% endblock %}

{% block content %}
    <form class="update-form col-sm-12 col-md-12 col-lg-6 py-5" action="/users/update/{{ id }}" method="POST">
        <h3 class="h2 mb-5">Update user</h3>
        <div class="form-group">
            <label for="name">Your first and last name</label>
            <input id="name" class="form-input form-control" type="text" name="name"
                   placeholder="Enter your first and last name"
                   data-name="name"
                   value="{{ name }}">
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="email">Enter your email</label>
            <input id="email" class="form-input form-control" type="text" name="email"
                   placeholder="Enter your email"
                   data-email="email" value="{{ email }}">
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender" class="form-control" name="gender" data-gender="gender">
                <option {{ gender == "male" ? "selected" : '' }} value="male">Male</option>
                <option {{ gender == "female" ? "selected" : '' }} value="female">Female</option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" name="status" data-status="status">
                <option {{ status == "active" ? "selected" : '' }} value="active">Active</option>
                <option {{ status == "inactive" ? "selected" : '' }} value="inactive">Inactive</option>
            </select>
            <div class="invalid-feedback"></div>
        </div>
        <button class="btn btn-primary update-btn" type="submit">Update</button>
    </form>
{% endblock %}