{% extends 'layout/base.twig' %}

{% block content %}
    <div class="table-responsive mt-5">
        <p class="h5 mb-5 pl-1">Total users: {{ totalUsers }}</p>
        <form id="delete-all" class="table-form" action="/users/delete" method="POST">
            <table class="table table-hover">
                <form action=""></form>
                <thead class="thead-light">
                <button class="btn btn-danger delete-all-btn" type="submit" form="delete-all">Delete All</button>
                <tr>
                    <th><input class="check-all" type="checkbox"></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                </thead>
                {% for result in results %}
                    <tr>
                        <td><input class="table-checkbox" type="checkbox" name="ids[]" value="{{ result['id'] }}"></td>
                        <td>{{ result['id'] }}</td>
                        <td>{{ result['name'] }}</td>
                        <td>{{ result['email'] }}</td>
                        <td>{{ result['gender'] }}</td>
                        <td>{{ result['status'] }}</td>
                        <td>
                            <a class="btn btn-primary" href="/users/edit/{{ result['id'] }}">Update</a>
                        </td>
                        <td>
                            <form data-id="{{ result['id'] }}" id="delete" method="POST"
                                  action="/users/{{ result['id'] }}">
                                <button data-id="{{ result['id'] }}" type="submit" class="btn btn-danger delete-btn">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </form>
        <nav class="" aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% for i in 1..pages %}
                    <li class="page-item" data-page="{{ i }}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}
